.homePage {
  .overBackground {
    position: absolute;
    top: 0;
    left: 0;
    margin: @limitVertical @limitHorizontal;
    height: calc(100vh - @limitVertical * 2);
    width: calc(100% - @limitHorizontal * 2);

    .topRow {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    .middleRow {
      height: calc(100% - 30px - 100px);
      width: 100%;
    }

    .bottomRow {
      height: 100px;
      width: 100%;
    }
  }

  @media screen and (max-width: 767px) {
    .overBackground {
      .middleRow {
        height: calc(100% - 30px - 50px);
      }
      .bottomRow {
        height: 50px;
      }
    }
  }
}
