@import (once) "~antd/dist/antd.less";
@import (once) "./variables.less";
@import (once) "./fonts/fonts.less";

.react-portifolio {
  /* Global */
  font-family: @fontFamily;
  font-weight: 200;

  @import (once) "../react/Pages/HomePage/HomePage.styles.less";
  @import (once) "../react/Pages/ProjectsPage/ProjectsPage.styles.less";
  @import (once)
    "../react/Components/AboutMeContainer/AboutMe/AboutMe.styles.less";
  @import (once)
    "../react/Components/AboutMeContainer/AboutModal/AboutModal.styles.less";
  @import (once)
    "../react/Components/AboutMeContainer/AboutTitle/AboutTitle.styles.less";
  @import (once)
    "../react/Components/AboutMeContainer/ContactMeForm/ContactMeForm.styles.less";
  @import (once) "../react/Components/Buttons/MenuButton.styles.less";
  @import (once)
    "../react/Components/Configurations/LanguageSwitch/LanguageSwitch.styles.less";
  @import (once)
    "../react/Components/Configurations/LightMode/LightMode.styles.less";
  @import (once) "../react/Components/Links/Connections.styles.less";
  @import (once)
    "../react/Components/Projects/ProjectsArrow/ProjectsArrow.styles.less";
  @import (once)
    "../react/Components/Projects/ProjectContainer/ProjectsContainer.styles.less";
  @import (once)
    "../react/Components/Titles/DeveloperTitle.styles.less";

  .ant-modal {
    min-width: 1200px;
    .ant-modal-body {
      padding: 0 !important;

      .ant-spin-nested-loading {
        div {
          .ant-spin-spinning {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;

            .ant-spin-dot {
              font-size: 40px;
              margin-top: 40px;

              .ant-spin-dot-item {
                width: 20px;
                height: 20px;
                background-color: white;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    .ant-modal {
      min-width: 990px;
    }
  }

  @media screen and (max-width: 767px) {
    .ant-modal {
      min-width: 300px;
    }
  }

  //////////////////////////////////////////////////////
  // MIXINS

  @numberOfThemes: 2;

  //Theme Definitions by parametric mixin numbers (1), (2), etc.
  .themeDefs(1) {
    @themePrimaryColor: @primaryColorDark;
  }

  .themeDefs(2) {
    @themePrimaryColor: @primaryColorLight;
  }

  //////////////////////////////////////////////////////
  // THEME BUILDING

  .buildThemes(@index) when (@index < @numberOfThemes + 1) {
    .theme-@{index} {
      .themeDefs(@index);
      background-color: @themePrimaryColor;

      .contactMeCol,
      .infoProjectDisplay {
        background-color: lighten(@themePrimaryColor, 20%);
      }
      .overBackground {
        background-color: @themePrimaryColor;
      }
    }
    .buildThemes(@index + 1);
  }
  //stop loop
  .buildThemes(@index) {
  }
  //start theme building loop
  .buildThemes(1);
}
