@import (once) "~antd/dist/antd.less";
@import (once) "./variables.less";
@import (once) "./fonts/fonts.less";

.react-portifolio {
  /* Global */
  font-family: @fontFamily;
  font-weight: 200;

  @import (once) "../react/pages/HomePage/HomePage.less";
  @import (once) "../react/components/Components.style.less";

  .ant-modal {
    .ant-modal-body {
      padding: 0 !important;

      .ant-spin-nested-loading {
        div {
          .ant-spin-spinning {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;

            .ant-spin-dot {
              font-size: 40px;
              margin-top: 40px;

              .ant-spin-dot-item {
                width: 20px;
                height: 20px;
                background-color: white;
              }
            }
          }
        }
      }
    }
  }

  //////////////////////////////////////////////////////
  // MIXINS

  @numberOfThemes: 2;

  //Theme Definitions by parametric mixin numbers (1), (2), etc.
  .themeDefs(1) {
    @themePrimaryColor: @primaryColorDark;
  }

  .themeDefs(2) {
    @themePrimaryColor: @primaryColorLight;
  }

  //////////////////////////////////////////////////////
  // THEME BUILDING

  .buildThemes(@index) when (@index < @numberOfThemes + 1) {
    .theme-@{index} {
      .themeDefs(@index);
      background-color: @themePrimaryColor;

      .contactMeCol {
        background-color: lighten(@themePrimaryColor, 20%);
      }
    }
    .buildThemes(@index + 1);
  }
  //stop loop
  .buildThemes(@index) {
  }
  //start theme building loop
  .buildThemes(1);
}
