.backgroundInitials {
  height: 100vh;
  width: 100%;

  .initials {
    width: fit-content;
    font-size: 700px;
    line-height: 700px;
    color: @darkSecondaryColor;
    padding-top: calc((100vh - 800px) / 4);
    padding-left: calc(100vh - 710px);
    margin: 0 !important;
  }
}

.lightMode {
  height: 30px;
  cursor: pointer;
  opacity: 0.6;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.developerTitleContainer {
  width: fit-content;
  padding-top: calc((100vh - 130px) / 2);
  padding-left: calc((100vh - 430px) / 4);

  .developerName {
    font-size: 75px;
    line-height: 50px;
    color: @buttonActiveColor;
  }
  .developerJob {
    font-size: 40px;
    line-height: 40px;
    color: @buttonActiveColor;
  }
}

.connectionsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .connectionIcon {
    width: 60%;
    margin: 40px 0;
    opacity: 0.6;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    cursor: pointer;
  }
}

.projectsArrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .arrowIcon {
    width: 30px;
    opacity: 0.6;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    cursor: pointer;
  }

  .arrowTitle {
    font-size: 25px;
    color: @buttonActiveColor;
  }
}

.aboutContainer {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .aboutTitle {
    font-size: 25px;
    color: @buttonActiveColor;
    width: max-content;
    cursor: pointer;
  }
}

.aboutModalContainer {
  .aboutMeCol {
    padding: 20px;

    .developer {
      height: 600px;
      margin-top: -57px;
      margin-left: -20px;
      margin-bottom: -20px;
      filter: saturate(1.1) sepia(0.3);
    }

    .aboutTextContainer {
      padding-right: 20px;
      font-size: 17px;
      color: @buttonActiveColor;
      height: 460px;
      overflow: auto;
    }
  }

  .contactMeCol {
    padding: 20px;
  }
}

.contactMe {
  .formInputAnimated {
    opacity: 0;
    animation: buttonDrop 1s 1;
    animation-fill-mode: forwards;
  }

  @keyframes buttonDrop {
    0% {
      height: 0;
      opacity: 0;
    }
    100% {
      height: 70px;
      opacity: 1;
    }
  }

  .formInput {
    border-bottom: 1px solid @fontColor !important;
    font-size: 17px;
    text-align: center;
    background: transparent;
    border: none;
    color: @fontColor;
    outline: 0;
    box-shadow: none;
    z-index: 1;
    width: 350px;
  }

  .labelPlaceholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightgrey;
    font-size: 17px;
    transition: @smallTransitionTime;
    z-index: 0;
  }

  .formInput:focus ~ label,
  .formInput > .ant-input-focused ~ label {
    transform: unset;
    color: @fontColor;
    top: 0;
    left: 0;
    font-size: 15px;
  }

  .formInput:focus ~ .formPwd,
  .formInput > .ant-input-focused ~ .formPwd {
    color: white;
  }

  .formInput:not([value=""]) ~ label {
    transform: unset;
    top: 0;
    left: 0;
    font-size: 15px;
    color: @fontColor;
  }

  .formInput:not([value=""]) ~ .formPwd {
    color: @fontColor;
  }

  .ant-form-item-has-error {
    .formInput {
      border-bottom: 1px solid red !important;

      .anticon {
        color: red;
      }
    }
    .formInput ~ label {
      color: red;
    }
    .formInput:focus ~ label {
      top: 0;
      left: 0;
      font-size: 15px;
      transform: unset;
      color: red;
    }
  }

  .formMessage {
    height: 200px !important;
    border: 1px solid white;
    margin-top: 30px;
  }

  .submitButtonAnimated {
    width: 350px;
    opacity: 0;
    animation: buttonDrop 1s 1;
    animation-fill-mode: forwards;
  }
}

.buttonSpaceRow {
  margin-top: 10px;

  .animatedButton {
    color: #fff;
    transition: all 0.3s;
    position: relative;
  }
  .animatedButton span {
    transition: all 0.3s;
  }
  .animatedButton::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
    transform: scale(0.1, 1);
  }
  .animatedButton:hover span {
    letter-spacing: 2px;
  }
  .animatedButton:hover::before {
    opacity: 1;
    transform: scale(1, 1);
  }
  .animatedButton::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .animatedButton:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
  }

  .adjustToGameOptions {
    top: unset !important;
    bottom: -60px !important;
    height: 100vh;
  }
}
